'.workspace':
  'ctrl-8': 'github-panel:toggle-github-panel-tab-focus'
  'ctrl-shift-8': 'github-panel:toggle-github-panel-tab'
  'alt-g r': 'github-panel:open-reviews-tab'

'.github-panel-Dialog':
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'

'.github-panel-Dialog input':
  'enter': 'core:confirm'

'.github-panel-TabbableWrapper':
  'down': 'github-panel:selectbox-down'
  'up': 'github-panel:selectbox-up'
  'enter': 'github-panel:selectbox-enter'
  'tab': 'github-panel:selectbox-tab'
  'backspace': 'github-panel:selectbox-backspace'
  'pageup': 'github-panel:selectbox-pageup'
  'pagedown': 'github-panel:selectbox-pagedown'
  'end': 'github-panel:selectbox-end'
  'home': 'github-panel:selectbox-home'
  'delete': 'github-panel:selectbox-delete'
  'escape': 'github-panel:selectbox-escape'

'.github-panel-Reviews':
  'cmdorctrl-=': 'github-panel:more-context'
  'cmdorctrl--': 'github-panel:less-context'

'.github-panel-Reviews atom-text-editor':
  'cmdorctrl-enter': 'github-panel:submit-comment'
