/* Here ALL the overrides when a pane/panel gets used as a dock item
 * It's not too high of a priority, but still good to check (and fix) once in a while */
lumine-dock.bottom .github-panel-Git {
  flex-direction: row;
}
lumine-dock.bottom .github-panel-StagingView {
  display: contents;
  /* make these invisible to layout */
}
lumine-dock.bottom .github-panel-Git > div {
  flex: 1;
}
lumine-dock.bottom .github-panel-StagedChanges {
  border-left: 1px solid var(--base-border-color);
  border-right: 1px solid var(--base-border-color);
}
lumine-dock.bottom .github-panel-StagingView-header {
  flex-wrap: wrap;
}
lumine-dock.bottom .github-panel-StagingView-group:first-child .github-panel-StagingView-header {
  border-top: 1px solid var(--base-border-color);
}
lumine-dock.bottom .github-panel-RecentCommits {
  max-height: none;
  border-left: 1px solid var(--base-border-color);
}
lumine-dock.left .github-panel-IssueishDetailView-header,
lumine-dock.right .github-panel-IssueishDetailView-header {
  display: block;
  padding: var(--component-padding);
  background-color: var(--tool-panel-background-color);
}
lumine-dock.left .github-panel-IssueishDetailView-avatar,
lumine-dock.right .github-panel-IssueishDetailView-avatar {
  position: absolute;
}
lumine-dock.left .github-panel-IssueishDetailView-avatarImage,
lumine-dock.right .github-panel-IssueishDetailView-avatarImage {
  width: 20px;
  height: 20px;
}
lumine-dock.left .github-panel-IssueishDetailView-headerRow:nth-child(1),
lumine-dock.right .github-panel-IssueishDetailView-headerRow:nth-child(1) {
  padding-left: 25px;
  /* space for avatar */
  overflow: hidden;
}
lumine-dock.left .github-panel-IssueishDetailView-title,
lumine-dock.right .github-panel-IssueishDetailView-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
lumine-dock.left .github-panel-IssueishDetailView-checkoutButton,
lumine-dock.right .github-panel-IssueishDetailView-checkoutButton {
  margin: var(--component-padding) 0 0 0;
}
lumine-dock.left .github-panel-IssueishDetailView-tablist,
lumine-dock.right .github-panel-IssueishDetailView-tablist {
  flex-wrap: wrap;
}
lumine-dock.left .github-panel-IssueishDetailView-tab,
lumine-dock.right .github-panel-IssueishDetailView-tab {
  padding: calc(var(--component-padding) / 2) var(--component-padding);
}
lumine-dock.left .github-panel-IssueishDetailView-tab-icon,
lumine-dock.right .github-panel-IssueishDetailView-tab-icon {
  display: none;
}
lumine-dock.left .github-panel-IssueishDetailView-overview,
lumine-dock.right .github-panel-IssueishDetailView-overview {
  font-size: 0.9em;
}
lumine-dock.left .github-panel-IssueishDetailView-overview > .github-panel-DotComMarkdownHtml,
lumine-dock.right .github-panel-IssueishDetailView-overview > .github-panel-DotComMarkdownHtml,
lumine-dock.left .github-panel-IssueishDetailView-overview .timeline-item,
lumine-dock.right .github-panel-IssueishDetailView-overview .timeline-item {
  padding: var(--component-padding);
}
lumine-dock.left .github-panel-IssueishDetailView-buildStatus,
lumine-dock.right .github-panel-IssueishDetailView-buildStatus {
  padding: 0;
}
lumine-dock.left .github-panel-IssueishDetailView .github-panel-PrStatuses-header,
lumine-dock.right .github-panel-IssueishDetailView .github-panel-PrStatuses-header {
  border-top: none;
}
lumine-dock.left .github-panel-IssueishDetailView .github-panel-PrStatuses-header,
lumine-dock.right .github-panel-IssueishDetailView .github-panel-PrStatuses-header,
lumine-dock.left .github-panel-IssueishDetailView .github-panel-PrStatuses-list-item,
lumine-dock.right .github-panel-IssueishDetailView .github-panel-PrStatuses-list-item {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
lumine-dock.left .github-panel-IssueishDetailView .github-panel-PrCommitsView-commitWrapper,
lumine-dock.right .github-panel-IssueishDetailView .github-panel-PrCommitsView-commitWrapper {
  padding: 0;
}
lumine-dock.left .github-panel-IssueishDetailView .github-panel-PrCommitView-container,
lumine-dock.right .github-panel-IssueishDetailView .github-panel-PrCommitView-container {
  font-size: 0.9em;
  border-left: none;
  border-right: none;
}
lumine-dock.left .github-panel-IssueishDetailView .github-panel-PrCommitView-container:first-child,
lumine-dock.right
  .github-panel-IssueishDetailView
  .github-panel-PrCommitView-container:first-child {
  border-top: none;
  border-radius: 0;
}
lumine-dock.left .github-panel-IssueishDetailView .github-panel-PrCommitView-container:last-child,
lumine-dock.right .github-panel-IssueishDetailView .github-panel-PrCommitView-container:last-child {
  border-bottom: none;
  border-radius: 0;
}
lumine-dock.left .github-panel-CommitDetailView-header,
lumine-dock.right .github-panel-CommitDetailView-header {
  background-color: var(--tool-panel-background-color);
}
lumine-dock.left .github-panel-CommitDetailView-commit,
lumine-dock.right .github-panel-CommitDetailView-commit {
  padding: var(--component-padding) var(--component-padding) 0 var(--component-padding);
}
lumine-dock.left .github-panel-CommitDetailView-meta,
lumine-dock.right .github-panel-CommitDetailView-meta {
  margin-bottom: var(--component-padding);
}
lumine-dock.left .github-panel-CommitDetailView-moreText,
lumine-dock.right .github-panel-CommitDetailView-moreText {
  padding: var(--component-padding) 0;
}
