.github-panel-Blank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.github-panel-Blank-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.github-panel-Blank-footer {
  flex-shrink: 0;
  padding: calc(var(--component-padding) * 2) var(--component-padding);
}
/* The mark these views head with is styled in large-icon.css. */
.github-panel-Blank-banner,
.github-panel-Blank-context,
.github-panel-Blank-explanation {
  text-align: center;
}
.github-panel-Blank-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.github-panel-Blank-option--explained {
  margin-bottom: calc(var(--component-padding) / 2);
}
.github-panel-Blank-actionBtn {
  flex: 1;
  margin: 0 10%;
}
.github-panel-Blank-explanation {
  margin-left: 5%;
  margin-right: 5%;
  color: var(--text-color-subtle);
}
.github-panel-Blank-tabLink {
  margin-left: 0.5em;
  border-color: inherit;
  background-color: inherit;
  border-style: none;
  border-width: 0;
  padding: 0;
  text-decoration: underline;
}
.github-panel-Blank-tabLink .icon {
  padding-right: 0;
}
