/* Popover: Custom tooltip
 * Used for branch switcher and hovercards */
.github-panel-Popover.tooltip {
  max-width: 400px;
  /* Same as the github-panel-Git */
  padding-left: var(--component-padding);
  padding-right: var(--component-padding);
  box-sizing: border-box;
}
.github-panel-Popover .tooltip-inner.tooltip-inner {
  padding: calc(var(--component-padding) / 2);
  background-color: var(--tool-panel-background-color);
  border: 1px solid var(--base-border-color);
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.1);
  color: var(--text-color);
}
.github-panel-Popover.top .tooltip-arrow.tooltip-arrow {
  width: var(--component-padding);
  height: var(--component-padding);
  border-width: 0 0 1px 1px;
  border-color: var(--base-border-color);
  background-color: var(--tool-panel-background-color);
  border-bottom-right-radius: 2px;
  transform: rotate(-45deg);
}
